.cabecalho{
    background-color: rgb(93, 5, 151);
    color:aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 240px 0;
    font-size: 50px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
}