*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:  rgb(67, 19, 99);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
    font-size: 20px;
}

body{
    background-color: rgb(40, 8, 70);
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 10px 16px;
    padding: 24px 0;
}

.sobreImagem{
           width: 20%
}

.sobre{
        background-image: linear-gradient(#260742, #420452);
        color: white;
        display: flex;
        justify-content: center;
       align-items:top;
       padding: 200px 1px;
}

.sobreConteudo{
        width: 39%;
}

.sobreTitulo{
         padding: 40px 10px;
}