*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(93, 5, 151);
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 1px 0;
    font-size: 20px;
}

.cabecalhoListaItem{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}